In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.notebook_repr_html',False)
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)

In [3]:
#First DataFrame
pd.DataFrame(np.array([[10,11],[20,21]]))

    0   1
0  10  11
1  20  21

In [4]:
df1=pd.DataFrame([pd.Series(np.arange(5)),np.arange(10,15)])#CANNOT apply columns=...
df1

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14

In [5]:
df1.shape

(2, 5)

In [6]:
#custom column names
df2=pd.DataFrame(np.array([[10,11],[20,21]]),columns=['a','b'])
df2

    a   b
0  10  11
1  20  21

In [7]:
df2.columns

Index(['a', 'b'], dtype='object')

In [8]:
"{},{}".format(df2.columns[0],df2.columns[1])

'a,b'

In [9]:
df2.columns=['c','d']
df2

    c   d
0  10  11
1  20  21

In [10]:
df3=pd.DataFrame(np.array([[10,11],[20,21]]),columns=['c1','c2'],index=['r1','r2'])
df3

    c1  c2
r1  10  11
r2  20  21

In [11]:
s1=pd.Series(np.arange(0,10,2))
s2=pd.Series(np.arange(10,20,2))
pd.DataFrame({'c1':s1,'c2':s2})

   c1  c2
0   0  10
1   2  12
2   4  14
3   6  16
4   8  18

In [12]:
sp500=pd.read_csv("financial.csv",index_col='Symbol',usecols=[0,2,3,7])
sp500.head()

                        Sector     Price  Book Value
Symbol
MMM                Industrials  137.9200      20.960
ABT                Health Care   42.2199      15.437
ABBV               Health Care   57.6700       3.330
ACN     Information Technology   96.2400       9.470
ACE                 Financials  100.8900      91.270

In [13]:
sp500.tail()

                        Sector   Price  Book Value
Symbol
XYL                Industrials  32.305      11.460
YHOO    Information Technology  30.445      35.679
YUM     Consumer Discretionary  79.600       3.630
ZBH                Health Care  97.460      49.800
ZTS                Health Care  44.250       2.360

In [14]:
len(sp500)

494

In [15]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ADBE', 'ADT', 'AES', 'AET', 'AMG',
       ...
       'WYNN', 'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZBH', 'ZTS'],
      dtype='object', name='Symbol', length=494)

In [16]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [17]:
!head -n 3 financial.csv

Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
MMM,3M Co,Industrials,137.92,2.94,18.00,7.66,20.96,130.60,170.50,86.16,8.52,2.81,6.68,http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=MMM
ABT,Abbott Laboratories,Health Care,42.2199,2.2200,14.1868,2.9760,15.4370,39.2800,51.7400,62.93,4.64,3.1478,2.8049,http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ABT

In [18]:
one_month = pd.read_csv("financial.csv")
one_month[:3]

  Symbol                 Name       Sector     Price  Dividend Yield  \
0    MMM                3M Co  Industrials  137.9200            2.94
1    ABT  Abbott Laboratories  Health Care   42.2199            2.22
2   ABBV               AbbVie  Health Care   57.6700            3.33

                         ...                          Market Cap  EBITDA  \
0                        ...                               86.16    8.52
1                        ...                               62.93    4.64
2                        ...                               95.46    7.83

   Price/Sales  Price/Book                                        SEC Filings
0       2.8100      6.6800  http://www.sec.gov/cgi-bin/browse-edgar?action...
1       3.1478      2.8049  http://www.sec.gov/cgi-bin/browse-edgar?action...
2       4.6800     17.8600  http://www.sec.gov/cgi-bin/browse-edgar?action...

[3 rows x 15 columns]

In [19]:
sp500[[1,2]].head()

           Price  Book Value
Symbol
MMM     137.9200      20.960
ABT      42.2199      15.437
ABBV     57.6700       3.330
ACN      96.2400       9.470
ACE     100.8900      91.270

In [20]:
# a single column is a DataFrame.
type(sp500[[1]].head())

pandas.core.frame.DataFrame

In [21]:
df5=sp500.copy()
df5.columns=[0,1,2]  #Rename column
df5.head()

                             0         1       2
Symbol
MMM                Industrials  137.9200  20.960
ABT                Health Care   42.2199  15.437
ABBV               Health Care   57.6700   3.330
ACN     Information Technology   96.2400   9.470
ACE                 Financials  100.8900  91.270

In [22]:
type(df5[[1]]) # DataFrame,column at index 1

pandas.core.frame.DataFrame

In [23]:
type(df5[1])  #Series,column named 1

pandas.core.series.Series

In [24]:
sp500.Price

Symbol
MMM     137.9200
ABT      42.2199
ABBV     57.6700
ACN      96.2400
ACE     100.8900
          ...
XYL      32.3050
YHOO     30.4450
YUM      79.6000
ZBH      97.4600
ZTS      44.2500
Name: Price, dtype: float64

In [25]:
sp500['Price']

Symbol
MMM     137.9200
ABT      42.2199
ABBV     57.6700
ACN      96.2400
ACE     100.8900
          ...
XYL      32.3050
YHOO     30.4450
YUM      79.6000
ZBH      97.4600
ZTS      44.2500
Name: Price, dtype: float64

In [26]:
sp500.columns.get_loc('Price')

1

In [27]:
sp500[:5]

                        Sector     Price  Book Value
Symbol
MMM                Industrials  137.9200      20.960
ABT                Health Care   42.2199      15.437
ABBV               Health Care   57.6700       3.330
ACN     Information Technology   96.2400       9.470
ACE                 Financials  100.8900      91.270

In [28]:
sp500['ABT':'ACN']

                        Sector    Price  Book Value
Symbol
ABT                Health Care  42.2199      15.437
ABBV               Health Care  57.6700       3.330
ACN     Information Technology  96.2400       9.470

In [29]:
sp500.loc['MMM'] #Series

Sector        Industrials
Price              137.92
Book Value          20.96
Name: MMM, dtype: object

In [30]:
sp500.loc[['MMM']] #DataFrame

             Sector   Price  Book Value
Symbol
MMM     Industrials  137.92       20.96

In [31]:
#using iloc
sp500.iloc[[0,2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  137.92       20.96
ABBV    Health Care   57.67        3.33

In [32]:
sp500.index.get_loc('A')

11

In [33]:
sp500.at['MMM','Price']  # No double bracket

137.91999999999999

In [34]:
sp500.iat[0,1]  #index based

137.91999999999999

In [35]:
sp500.Price<40

Symbol
MMM     False
ABT     False
ABBV    False
ACN     False
ACE     False
        ...
XYL      True
YHOO     True
YUM     False
ZBH     False
ZTS     False
Name: Price, dtype: bool

In [36]:
sp500[sp500.Price<40] #boolean expr, no double bracket

                        Sector   Price  Book Value
Symbol
ADT                Industrials  30.900      17.950
AES                  Utilities  10.620       5.660
A                  Health Care  35.080      12.360
AA                   Materials   9.450      10.020
ATI                  Materials  16.070      23.660
...                        ...     ...         ...
XEL                  Utilities  33.950      20.260
XRX     Information Technology  10.335       9.407
XL                  Financials  36.910      40.300
XYL                Industrials  32.305      11.460
YHOO    Information Technology  30.445      35.679

[138 rows x 3 columns]

In [37]:
sp500bool = sp500[sp500.Price<50][['Price']]
sp500bool

          Price
Symbol
ABT     42.2199
ADT     30.9000
AES     10.6200
A       35.0800
AA       9.4500
...         ...
XLNX    41.5900
XL      36.9100
XYL     32.3050
YHOO    30.4450
ZTS     44.2500

[202 rows x 1 columns]

In [38]:
sp500.rename(columns={'Book Value':'BookValue'},inplace=True)
sp500

                        Sector     Price  BookValue
Symbol
MMM                Industrials  137.9200     20.960
ABT                Health Care   42.2199     15.437
ABBV               Health Care   57.6700      3.330
ACN     Information Technology   96.2400      9.470
ACE                 Financials  100.8900     91.270
...                        ...       ...        ...
XYL                Industrials   32.3050     11.460
YHOO    Information Technology   30.4450     35.679
YUM     Consumer Discretionary   79.6000      3.630
ZBH                Health Care   97.4600     49.800
ZTS                Health Care   44.2500      2.360

[494 rows x 3 columns]

In [39]:
copy1 = sp500.copy()
copy1['newf'] = sp500['Price']*2
copy1[:2]

             Sector     Price  BookValue      newf
Symbol
MMM     Industrials  137.9200     20.960  275.8400
ABT     Health Care   42.2199     15.437   84.4398

In [40]:
#insert a field
copy1.insert(1,"newg",sp500['Price']*3)
copy1[:2]

             Sector      newg     Price  BookValue      newf
Symbol
MMM     Industrials  413.7600  137.9200     20.960  275.8400
ABT     Health Care  126.6597   42.2199     15.437   84.4398

In [41]:
s=pd.Series({'MMM':'Comment'})
copy1['comment']=s
copy1[:2]

             Sector      newg     Price  BookValue      newf  comment
Symbol
MMM     Industrials  413.7600  137.9200     20.960  275.8400  Comment
ABT     Health Care  126.6597   42.2199     15.437   84.4398      NaN

In [42]:
copy2 = sp500.copy()
prices = copy2.iloc[[3,1,0]].Price.copy()
prices

Symbol
ACN     96.2400
ABT     42.2199
MMM    137.9200
Name: Price, dtype: float64

In [43]:
copy2.Prices = prices
copy2[:3]

             Sector     Price  BookValue
Symbol
MMM     Industrials  137.9200     20.960
ABT     Health Care   42.2199     15.437
ABBV    Health Care   57.6700      3.330

In [44]:
del copy1['newg']
copy1

                        Sector     Price  BookValue      newf  comment
Symbol
MMM                Industrials  137.9200     20.960  275.8400  Comment
ABT                Health Care   42.2199     15.437   84.4398      NaN
ABBV               Health Care   57.6700      3.330  115.3400      NaN
ACN     Information Technology   96.2400      9.470  192.4800      NaN
ACE                 Financials  100.8900     91.270  201.7800      NaN
...                        ...       ...        ...       ...      ...
XYL                Industrials   32.3050     11.460   64.6100      NaN
YHOO    Information Technology   30.4450     35.679   60.8900      NaN
YUM     Consumer Discretionary   79.6000      3.630  159.2000      NaN
ZBH                Health Care   97.4600     49.800  194.9200      NaN
ZTS                Health Care   44.2500      2.360   88.5000      NaN

[494 rows x 5 columns]

In [45]:
copy1temp=copy1.pop('newf')
copy1temp

Symbol
MMM     275.8400
ABT      84.4398
ABBV    115.3400
ACN     192.4800
ACE     201.7800
          ...
XYL      64.6100
YHOO     60.8900
YUM     159.2000
ZBH     194.9200
ZTS      88.5000
Name: newf, dtype: float64

In [46]:
copy3 = sp500[:2].copy()
afterdrop=copy3.drop(['Sector'],axis=1) #Recom
afterdrop

           Price  BookValue
Symbol
MMM     137.9200     20.960
ABT      42.2199     15.437

In [47]:
#Adding rows to a DataFrame
df21 = sp500.iloc[0:3].copy()
df22 = sp500.iloc[[10,11,12]].copy()
df21.append(df22)

             Sector     Price  BookValue
Symbol
MMM     Industrials  137.9200     20.960
ABT     Health Care   42.2199     15.437
ABBV    Health Care   57.6700      3.330
AFL      Financials   56.9150     39.520
A       Health Care   35.0800     12.360
GAS       Utilities   61.3100     32.880

In [48]:
df4 = pd.DataFrame(0,index=df21.index,columns=['PER'])
df4.append(df3)

        PER  c1  c2
Symbol
MMM       0 NaN NaN
ABT       0 NaN NaN
ABBV      0 NaN NaN
r1      NaN  10  11
r2      NaN  20  21

In [49]:
pd.concat([df21,df22])

             Sector     Price  BookValue
Symbol
MMM     Industrials  137.9200     20.960
ABT     Health Care   42.2199     15.437
ABBV    Health Care   57.6700      3.330
AFL      Financials   56.9150     39.520
A       Health Care   35.0800     12.360
GAS       Utilities   61.3100     32.880

In [50]:
pd.concat([df21,df22],keys=['k1','k2']) #keys

                Sector     Price  BookValue
   Symbol
k1 MMM     Industrials  137.9200     20.960
   ABT     Health Care   42.2199     15.437
   ABBV    Health Care   57.6700      3.330
k2 AFL      Financials   56.9150     39.520
   A       Health Care   35.0800     12.360
   GAS       Utilities   61.3100     32.880

In [51]:
#concat with axis=1
df7=sp500[:2][[0,1]]
df7

             Sector     Price
Symbol
MMM     Industrials  137.9200
ABT     Health Care   42.2199

In [52]:
df8=sp500[:2][[2]]
df8

        BookValue
Symbol
MMM        20.960
ABT        15.437

In [53]:
pd.concat([df7,df8],axis=1)

             Sector     Price  BookValue
Symbol
MMM     Industrials  137.9200     20.960
ABT     Health Care   42.2199     15.437

In [54]:
df9=df7.insert(1,'newfield',pd.Series(0,index=df7.index))
df9

In [55]:
pd.concat([df9,df8],axis=1)

        BookValue
Symbol
MMM        20.960
ABT        15.437

In [57]:
df7i=sp500[:2][[0,1]]
df7i

             Sector     Price
Symbol
MMM     Industrials  137.9200
ABT     Health Care   42.2199

In [58]:
df8i=sp500[1:3][[0,1]]
df8i

             Sector    Price
Symbol
ABT     Health Care  42.2199
ABBV    Health Care  57.6700

In [60]:
pd.concat([df7i,df8i],join='inner',axis=1)

             Sector    Price       Sector    Price
Symbol
ABT     Health Care  42.2199  Health Care  42.2199

In [64]:
df7.loc['ABT']=['sec',1]
df7

             Sector   Price
Symbol
MMM     Industrials  137.92
ABT             sec    1.00

In [71]:
df7c=df7.copy()
df7c=df7c.drop(['ABT']) 
df7c

             Sector   Price
Symbol
MMM     Industrials  137.92

In [72]:
selection = sp500.Price>100
selection.sum()

95

In [73]:
sp500[~selection]

                        Sector    Price  BookValue
Symbol
ABT                Health Care  42.2199     15.437
ABBV               Health Care  57.6700      3.330
ACN     Information Technology  96.2400      9.470
ADBE    Information Technology  82.6800     13.720
ADT                Industrials  30.9000     17.950
...                        ...      ...        ...
XYL                Industrials  32.3050     11.460
YHOO    Information Technology  30.4450     35.679
YUM     Consumer Discretionary  79.6000      3.630
ZBH                Health Care  97.4600     49.800
ZTS                Health Care  44.2500      2.360

[399 rows x 3 columns]

In [74]:
#copy=sp500[:3]  (bad)
#copy=sp500[:3].copy()   (good)
# change index by name. but ix has lower performance(not use in production)
df7.ix['MMM','Price']=6
df7

             Sector  Price
Symbol
MMM     Industrials      6
ABT             sec      1

In [76]:
np.random.seed(123)
df61=pd.DataFrame(np.random.randn(5,4),columns=['A','B','C','D'])
df61

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [77]:
df61*2

          A         B         C         D
0 -2.171261  1.994691  0.565957 -3.012589
1 -1.157201  3.302873 -4.853358 -0.857825
2  2.531873 -1.733481 -1.357772 -0.189418
3  2.982779 -1.277804 -0.887964 -0.868703
4  4.411860  4.373572  2.008108  0.772373

In [84]:
intdf61=df61.loc[0]['A']  #Do not use intdf61=df61.loc[0][['A']]
intdf61

-1.0856306033005612

In [88]:
df61-intdf61
df61

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [90]:
#use sub()
a_col=df61['A']
df61=df61.sub(a_col,axis=0) # must reassign df61
df61

   A         B         C         D
0  0  2.082976  1.368609 -0.420664
1  0  2.230037 -1.848079  0.149688
2  0 -2.132677 -1.944822 -1.360645
3  0 -2.130292 -1.935372 -1.925741
4  0 -0.019144 -1.201876 -1.819744

In [98]:
#reset_index()
#sp500.set_index('Symbol')
#renindex. index, columns
reindex = df61.reindex(index=[10,11,12,13,14],columns=['E','F','G','H'])
reindex

     E   F   G   H
10 NaN NaN NaN NaN
11 NaN NaN NaN NaN
12 NaN NaN NaN NaN
13 NaN NaN NaN NaN
14 NaN NaN NaN NaN

In [100]:
#multiindex
resp500=sp500.reset_index() #must have this step
reindexsp500 = resp500.set_index(['Sector','Symbol'])
reindexsp500

                                  Price  BookValue
Sector                 Symbol
Industrials            MMM     137.9200     20.960
Health Care            ABT      42.2199     15.437
                       ABBV     57.6700      3.330
Information Technology ACN      96.2400      9.470
Financials             ACE     100.8900     91.270
...                                 ...        ...
Industrials            XYL      32.3050     11.460
Information Technology YHOO     30.4450     35.679
Consumer Discretionary YUM      79.6000      3.630
Health Care            ZBH      97.4600     49.800
                       ZTS      44.2500      2.360

[494 rows x 2 columns]

In [101]:
type(reindexsp500.index)

pandas.core.index.MultiIndex

In [102]:
len(reindexsp500.index.levels)

2

In [103]:
reindexsp500.index.levels[0]

Index(['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials',
       'Health Care', 'Industrials', 'Information Technology', 'Materials',
       'Telecommunication Services', 'Utilities'],
      dtype='object', name='Sector')

In [104]:
reindexsp500.index.get_level_values(0)

Index(['Industrials', 'Health Care', 'Health Care', 'Information Technology',
       'Financials', 'Information Technology', 'Industrials', 'Utilities',
       'Health Care', 'Financials',
       ...
       'Consumer Discretionary', 'Utilities', 'Information Technology',
       'Information Technology', 'Financials', 'Industrials',
       'Information Technology', 'Consumer Discretionary', 'Health Care',
       'Health Care'],
      dtype='object', name='Sector', length=494)

In [105]:
reindexsp500.xs('Industrials') #retrive index name

           Price  BookValue
Symbol
MMM     137.9200     20.960
ADT      30.9000     17.950
ALLE     60.5500      0.000
AAL      42.1600      5.360
AME      51.1300     14.260
...          ...        ...
UPS      98.5005      2.174
URI      66.4500     15.220
UTX      89.1100     34.110
WM       49.5400     11.920
XYL      32.3050     11.460

[63 rows x 2 columns]

In [107]:
reindexsp500.xs('ALLE',level=1) #appoint indexlevel=1 (sector)

             Price  BookValue
Sector
Industrials  60.55          0

In [108]:
reindexsp500.xs('Industrials',drop_level=False)

                       Price  BookValue
Sector      Symbol
Industrials MMM     137.9200     20.960
            ADT      30.9000     17.950
            ALLE     60.5500      0.000
            AAL      42.1600      5.360
            AME      51.1300     14.260
...                      ...        ...
            UPS      98.5005      2.174
            URI      66.4500     15.220
            UTX      89.1100     34.110
            WM       49.5400     11.920
            XYL      32.3050     11.460

[63 rows x 2 columns]

In [111]:
#multiple index syntax;
reindexsp500.xs(('Industrials','UPS'))

Price        98.5005
BookValue     2.1740
Name: (Industrials, UPS), dtype: float64

In [113]:
#Or
reindexsp500.xs('Industrials').xs('UPS')

Price        98.5005
BookValue     2.1740
Name: UPS, dtype: float64

In [119]:
sp500[['Price']].mean() #to calculate mean of values in each row use axis=1

Price    78.351726
dtype: float64

In [120]:
sp500[['Price']].median()

Price    58.93
dtype: float64

In [121]:
sp500[['Price']].idxmin()  #lowest price's index

Price    GNW
dtype: object

In [122]:
sp500[['Price']].cumsum()  #cumulative sum

             Price
Symbol
MMM       137.9200
ABT       180.1399
ABBV      237.8099
ACN       334.0499
ACE       434.9399
...            ...
XYL     38375.6457
YHOO    38406.0907
YUM     38485.6907
ZBH     38583.1507
ZTS     38627.4007

[494 rows x 1 columns]

In [123]:
sp500[['Price']].describe()

             Price
count   493.000000
mean     78.351726
std      94.382986
min       4.758000
25%      37.780000
50%      58.930000
75%      91.100000
max    1285.500000

In [125]:
sef=pd.Series(['a','a','b','c',np.NAN])
sef.describe(),sef.count(),sef.unique(),sef.value_counts()

(count     4
 unique    3
 top       a
 freq      2
 dtype: object, 4, array(['a', 'b', 'c', nan], dtype=object), a    2
 b    1
 c    1
 dtype: int64)